/* TT Norms Pro */
@font-face {
font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 400;
src: url('https://yilmazere.github.io/TTNorms-Regular.otf.ttf') format('truetype');
}


/* TT Norms Pro Italic */
@font-face {
font-family: 'TT Norms Pro';
font-style: italic;
font-weight: 400;
src: url('https://yilmazere.github.io/TTNorms-Regular.otf.ttf') format('truetype');
}

/* TT Norms Pro Bold */
@font-face {
font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 700;
src: url('https://yilmazere.github.io/TTNorms-Regular.otf.ttf') format('truetype');
}

/* TT Norms Pro Bold Italic */
@font-face {
font-family: 'TT Norms Pro';
font-style: italic;
font-weight: 700;
src: url('https://yilmazere.github.io/TTNorms-Regular.otf.ttf') format('truetype');
}
