/* TT Norms Pro */
@font-face {
font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://your-web-server.com/fonts/tinos/Tinos-Regular.ttf) format('truetype');
}

/* TT Norms Pro Italic */
@font-face {
font-family: 'TT Norms Pro';
font-style: italic;
font-weight: 400;
font-display: swap;
src: url(https://your-web-server.com/fonts/tinos/Tinos-Italic.ttf) format('truetype');
}

/* TT Norms Pro Bold */
@font-face {
font-family: 'TT Norms Pro';
font-style: normal;
font-weight: 700;
font-display: swap;
src: url(https://your-web-server.com/fonts/tinos/Tinos-Bold.ttf) format('truetype');
}

/* TT Norms Pro Italic */
@font-face {
font-family: 'TT Norms Pro';
font-style: italic;
font-weight: 700;
font-display: swap;
src: url(https://your-web-server.com/fonts/tinos/Tinos-BoldItalic.ttf) format('truetype');
}